body {background: #E5E5E5;}

.frame { 
	background-color:rgba(255, 255, 255, 1);
	position:relative;
	width: 270px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.e18_1357 { 
	background-color:rgba(255, 255, 255, 1);
	width:258px;
	height:418px;
	position:absolute;
}
.end_text { 
	color:rgba(0, 0, 0, 1);
	width:230px;
	height:60px;
	position:absolute;
	left:20px;
	top:200px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e18_1366 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:7px;
	position:absolute;
	left:5px;
	top:397px;
	font-family:Inter;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
}
.e18_1367 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:7px;
	position:absolute;
	left:134px;
	top:397px;
	font-family:Inter;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
}
.e18_1368 { 
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:266px;
	height:40px;
	position:absolute;
	left:-8px;
	top:378px;
}
.e18_1369 { 
	background-color:rgba(0, 61.00000016391277, 255, 1);
	width:250px;
	height:28px;
	position:absolute;
	left:0px;
	top:384px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e18_1370 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:12px;
	position:absolute;
	left:105px;
	top:391px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}

.bin {
	position: fixed; 
	bottom: 0px;
}

.bin_background { 
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:270px;
	height:40px;
	position:relative;
	bottom: 1px;
}

.blue_bin { 
	background-color:rgba(0, 61.00000016391277, 255, 1);
	width:254px;
	height:30px;
	position:relative;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.bin_text { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:12px;
	position:relative;
	top: 9px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}