body {
	background: #E5E5E5;
	width: 290px;
	height: auto;
  }

.frame { 
	background-color:rgba(255, 255, 255, 1);
	position:relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.product_card { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:120px;
	height:150px;
	margin-top: 5px;
	margin-left: 4px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	display: inline-block;
}

.card_text {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.search { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:212px;
	height:24px;
	position:relative;
	display: flex;
	margin-top: 7px;
	margin-left: 4px;
	margin-bottom: 5px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

.filters_block { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:24px;
	height:24px;
	position:relative;
	display: flex;
	margin-top: 7px;
	margin-left: 4px;
	margin-bottom: 5px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}


.search_photo { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:20px;
	height:20px;
	position:relative;
	padding-top: 3px;
	padding-left: 6px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}


.search_name { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:52px;
	height:10px;
	position:relative;
	padding-left: 10px;
	padding-top: 7px;
	font-family:Inter;
	text-align:left;
	font-size:8px;
	letter-spacing:0;
}
.filters { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:240px;
	height:27px;
	position:relative;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-left: 5px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.filter_name { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:8px;
	position:relative;
	left:7px;
	padding-top: 1px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;

}
.model { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:8px;
	position:relative;
	margin-top: 2px;
	left:5px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.price { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:13px;
	position:relative;
	left:5px;
	margin-top: 5px;
	font-family:Inter;
	text-align:left;
	font-size:9px;
	letter-spacing:0;
}
.classification { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:7px;
	position:relative;
	left:5px;
	padding-top:1px;
	font-family:Inter;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
}

.product_image {
	position: relative;
	width: 110px;
	height: auto;
	top: 5px;
	left: 5px;
	right: 9px;
	bottom: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}


.sorted_filters { 
	color:rgba(0, 0, 0, 0.6000000238418579);
	width:52px;
	height:7px;
	position:relative;
	padding-top: 1px;
	left: 7px;
	font-family:Inter;
	text-align:left;
	font-size:6px;
	letter-spacing:0;
}

.open_filters { 
	transform: rotate(180deg);
	width:11px;
	height:11px;
	position:relative;
	padding-left:5px;
	padding-bottom: 7px;
	background-repeat:no-repeat;
	background-size:cover;
}

.button {
	display: inline;
}

.button_background { 
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:16px;
	position:relative;
	left:4px;
	top:5;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	text-align:center;
}

.add_text { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:8px;
	position:relative;
	font-family:Inter;
	text-align:center;
	font-size:7px;
	letter-spacing:0;
	display: inline-block;
	margin-top: 2.5px;
}

.filters_photo { 
	width:16px;
	height:16px;
	position:relative;
	padding: 3px;
	padding-left: 4px;
	background-repeat:no-repeat;
	background-size:cover;
}

.bin_background { 
	box-sizing: border-box;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:rgba(234.29998755455017, 234.29998755455017, 234.29998755455017, 1);
	width:266px;
	height:40px;
	position:relative;
	bottom: 1px;
}

.blue_bin { 
	background-color:rgba(0, 61.00000016391277, 255, 1);
	width:250px;
	height:30px;
	position:relative;
	text-align: center;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.bin_text { 
	color:rgba(255, 255, 255, 1);
	width:40px;
	height:12px;
	position:relative;
	top: 9px;
	font-family:Inter;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}